html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body,
h1,
h2,
h3,
div {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Rajdhani', sans-serif;
}

body {
    height:100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
.error h3 {
    font-family: 'Press Start 2P', cursive;
}

/* header start */
header {
    background-color: red;
    text-align: center;
    margin-top: 0;
    padding: 3vh 0;
}

h1 {
    font-size: 5.2rem;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 3px;
}
/* header end


/* form style start */
.searchEvents {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 25px;
}
#textSearch {
    margin-right: 8%;
    width: 50%;
}

#textSearch input {
    width: 80%;
    height: 40px;
    background-color: azure;
    border: 2px solid black;
    font-size: 2.0rem;
    padding: 0 1%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#textSearch input:hover {
    border: 2px solid red;
    background-color: white;
}

#textSearch button,
#randomBtn {
    height: 38px;
    font-size: 17px;
    border: 2px solid gray;
    color: white;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#textSearch button {
    width: 60px;
    margin-left: 5px;
}

#textSearch button:hover {
    background: red;
    border: 2px solid black;
}

#randomBtn {
    margin-left: 10px;
}

#randomBtn:hover {
    background: red;
    border: 2px solid black;
}
/* form style end */

/* error code start */
.error {
    margin-top: 3%;
    text-align: center;
}

.error h3 {
    margin-bottom: 2%;
    font-size: 2.2rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
/* error code end */

/* Pokemon Card Start */
.displayPokemon,
.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.displayPokemon {
    align-items: center;
}

.arrows {
    margin: 10px 0;
}

.left,
.right {
    font-size: 80px;
    color: red;
    margin: 0 25px;
    cursor: pointer;
}

.left:hover,
.right:hover {
    color: black;
}

.pokemonInfo {
    margin-top: 5%;
    padding: 3%;
    background-color: azure;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    width: 420px;
}

.pokemonInfo:hover {
    border: 2px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

h2 {
    font-size: 2.3rem;
    margin-top: 2%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 span {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
}

.pokemonTypeDisplay {
    margin: 0;
    padding: 0;
}

.pokemonTypeDisplay li {
    list-style: none;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 15px;
    color: white;
    font-weight: 600;
}

.officialArt {
    height: 200px;
    cursor: pointer;
}

.officialArt img{
    max-height: 100%;
    max-width: 100%;
}

.officialArt:hover,
.pokemonImages:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.pokemonImages {
    height: 90px;
}

.pokemonImages .sprite {
    height: 100%;
}

.pokemonImages:hover {
    cursor: pointer;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.8rem;
    padding-left: 1%;
    margin: 1%;
}

li {
    list-style: none;
    margin: 2%;
    text-align: left;
    width: 40%;
    height: 30%;
}

span {
    color: red;
}


/* color pokemon types start */
.normal {
    background-color: #A8A77A;
}
.fire {
    background-color: #EE8130;
}
.water {
    background-color: #6390F0;
}
.electric {
    background-color: #F7D02C;
}
.grass {
    background-color: #7AC74C;
}
.ice {
    background-color: #96D9D6;
}
.fighting {
    background-color: #C22E28;
}
.poison {
    background-color: #A33EA1;
}
.ground {
    background-color: #E2BF65;
}
.flying {
    background-color: #A98FF3;
}
.psychic {
    background-color: #F95587;
}
.bug {
    background-color: #A6B91A;
}
.rock {
    background-color: #B6A136;
}
.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6F35FC;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #B7B7CE;
}
.fairy {
    background-color: #D685AD
}


/* color pokemon type end */


/* footer start */
footer {
    background-color: red;
    color: white;
    font-size: 1.3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    background: gray;
}
/* footer end */


/* responsive start */
@media (max-width: 760px) {
    .searchEvents {
        justify-content: space-evenly;
    }
    #textSearch {
        margin-right: 2%;
        width: 98%;
    }
    #randomBtn {
        margin-top: 15px;
    }
    .left,
    .right {
        font-size: 60px;
        margin: 0 25px;
    }
}

@media (max-width: 440px) {
    .wrapper {
        width: 98%;
    }

    .pokemonInfo {
        width: 380px;
        height: 543px;
    }
}